/log
/tmp
/private
/public/system
/public/assets
/coverage/
/spec/tmp
config/initializers/secret_token.rb
config/local_env.yml
config/deploy/
config/deploy.rb
Capfile
*.sublime-*
/.bundle
/vendor
.ruby-version
.ruby-gemset
.rvmrc