doctype html
/comentario
/ = es render
/ - codigo que se ejecuta
html
  head
    title Nikoniko
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand href="users" Nikoniko

        ul.nav.navbar-nav
          li.active = link_to 'Home', users_url
          li = link_to 'Team', teams_url
          li = link_to 'Feeling', feelings_url

    p.notice
      = notice
    p.alert
      = alert

    #user_nav
      - if user_signed_in?
          = "Signed in as #{current_user.email}. Not you?"
          = link_to "Sign out", destroy_user_session_path, :method => :delete
      - else
        = link_to "Sign up", new_user_registration_path
        | or
        = link_to "sign in", new_user_session_path

    = yield
